<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/eventDisplay.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/npm.js}"></script>
</head>
<body>
    <header class="panel panel-default custom-banner">
        <div class="panel-body">
            <h1 id = "current-title" class = "text-center">Events</h1>
        </div>
    </header>
</body>
</html>